Options +FollowSymlinks
RewriteEngine on
## Home rules
RewriteRule ^$ index.php?class=MainController&method=home
RewriteRule ^home$ index.php?class=MainController&method=home

## Account rules
# RewriteRule ^login$ index.php?class=AccountController&method=login
# RewriteRule ^logout$ index.php?class=AccountController&method=logout
# RewriteRule ^signin$ index.php?class=AccountController&method=signin
# RewriteRule ^deleteAccount$ index.php?class=AccountController&method=deleteAccount

## Recipe rules
# RewriteRule ^getRecipes$ index.php?class=RecipeController&method=getRecipes
# RewriteRule ^addRecipes$ index.php?class=RecipeController&method=addRecipes
# RewriteRule ^setRecipes$ index.php?class=RecipeController&method=setRecipes
# RewriteRule ^deleteRecipes$ index.php?class=RecipeController&method=deleteRecipes

## Page not found rules (error 404)
ErrorDocument 404 /DWO/dev/projects/Miam/index.php?class=MainController&method=pageNotFound
