#game-content {
    position: relative;
    margin: auto;
}
.block {
    box-sizing: border-box;
    width: 64px;
    height: 64px;
}
.character {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
}
/*  */
.tile-wall {
    background: url("SokobanClone_byVellidragon.png");
    background-position: -128px 0px;
}
.tile-floor {
    background: url("SokobanClone_byVellidragon.png");
    background-position: 0px -64px;
}
.obj-box {
    background: url("sprites.png");
    background-position: -256px -256px;
}
.obj-start {
    background: url("SokobanClone_byVellidragon.png");
    background-position: 0px -64px;
}
.obj-exit {
    background: url("SokobanClone_byVellidragon.png");
    background-position: 0px -64px;
}
/*  */
.bug-up {    
    background: url("SokobanClone_byVellidragon.png");
    background-position: -64px -480px;
}
.bug-right {    
    background: url("SokobanClone_byVellidragon.png");
    background-position: -64px -448px;
}
.bug-down {    
    background: url("SokobanClone_byVellidragon.png");
    background-position: -192px -128px;
}
.bug-left {    
    background: url("SokobanClone_byVellidragon.png");
    background-position: -192px -192px;
}