.quote {
    background-color: #ff861c;
}
.quote .section-content {
    margin: auto;
    display: flex;
}
.quote p:first-child{
    color: #2d2c2c;
    font-size: 5em;
    margin-bottom: -33px;
}
.quote p:last-child{
    color: #2d2c2c;
    font-size: 1.3em;
    text-align: center;
}

@media screen and (min-width: 240px) {
}
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 720px) {
}
@media screen and (min-width: 1200px) {.quote {
    position: relative;
    top: -50px;
}
}