body, header, nav, section, footer, p, a, img, div, span, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

.page-content {
    padding: 0 5px;
    max-width: 1200px;
    margin: auto;
}

.next-section {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 32px;
}
.next-section.orange a{
    color: #ff861c;
}
.next-section.grey a{
    color: #2d2c2c;
}

.color-dark {
    color: #ff861c;
}
@media screen and (min-width: 240px) {
}
@media screen and (min-width: 500px) {
    .page-content {
        padding: 0 7px;
    }
}
@media screen and (min-width: 800px) {
    .page-content {
        padding: 0 15px;
    }
}
@media screen and (min-width: 1200px) {
    .page-content {
        padding: 0 20px;
    }
}
