body {
    margin: 0;
}
.page-content {
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
}
.section-content {
    padding: 0 15px;
}
header {
    background-color: #323232;
    display: flex;
    justify-content: space-between;
}
header nav {
    display: flex;
    justify-content: space-between;
}
header nav a {
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}
header nav a:hover {
    background-color: #fff;
    color: #323232;
}
header form {
    display: flex;
    border: 7px solid #323232;
}
main h2 {
    text-align: center;
}
main .code-row {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}
main .code-col {
    width: 48%;
}
.text-keyword {
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    color: #66d9ef;
    padding: 0 5px;
    border-radius: 5px;
    background-color: #272822c9;
}