#quote {
    background-color: #ff861c;
}
#quote .page-content {
    padding-top: 15px; 
    padding-bottom: 15px; 
}
#quote .row-quote {
    width: fit-content;
    margin: auto;
    display: flex;
}
#quote .box{
    display: flex;
    margin: auto;
}
#quote .row-quote img {
    width: 72px;
}
#quote p {
    max-width: 250px;
    color: #2d2c2c;
    font-family: 'quicksandregular';

    font-size: 1.3em;
    text-align: center;
    line-height: 2;
}
@media screen and (min-width: 240px) {
    #quote p{
        font-size: 1.3em;
        letter-spacing: 1px;
        margin-right: -1px;
    }
}
@media screen and (min-width: 500px) {
    #quote p{
        font-size: 1.6em;
    }
    #quote .row-quote img {
        width: 102px;
    }
}
@media screen and (min-width: 800px) {
}
@media screen and (min-width: 1200px) {
}