#hard-skills .text-tag {
    margin-top: 25px;
}
#hard-skills .text-tag .tag-row{
    max-width: fit-content;
    margin: auto;
    text-align: center;
}
#hard-skills .text-tag .tag-row p {
    margin-top: 15px;
    font-size: 1.4em; 
    font-family: 'indie_flowerregular';
}
.display-340 {
    display: none;
}
#hard-skills .logo-tag .tag-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#hard-skills .logo-tag .tag-row img {
    height: 45px;
    flex: 50%;
    margin-top: 35px;
}
#hard-skills p.alt {
    margin-top: 50px;

    font-family: 'RobotoMono-Regular';
    font-size: 1.0em;
    text-align: center;
}

@media screen and (min-width: 240px) {
    #hard-skills .logo-tag .tag-row img {
        height: 45px;
        flex: initial;
    }
    #hard-skills p.alt {
        font-size: 1.2em;
    }
    #hard-skills p.alt {
        margin-top: 50px;
        font-size: 1.3em;
    }
}
@media screen and (min-width: 340px) {
    .display-340 {
        display: block;
    }
    #hard-skills .logo-tag {
        margin-top: 35px;
    }
    #hard-skills .text-tag .tag-row {
        display: flex;
        justify-content: space-between;
        max-width: initial;

    }
    #hard-skills .text-tag .tag-row p {
        margin-top: 20px;
        font-size: 1.2em;
        text-align: start;
    }
    #hard-skills p.alt {
        margin-top: 55px;
        font-size: 1.5em;
    }
}
@media screen and (min-width: 600px) {
    #hard-skills .logo-tag {
        margin-top: 45px;
    }
    #hard-skills .text-tag .tag-row p {
    font-size: 1.7em;
}
    #hard-skills .logo-tag .tag-row img {
        height: 55px;
    }    
    #hard-skills p.alt {
        margin-top: 75px;
        font-size: 1.4em;
    }   
}
@media screen and (min-width: 800px) {
    #hard-skills .logo-tag {
        margin-top: 55px;
    }
    #hard-skills .text-tag .tag-row p {
    font-size: 1.8em;
    }
    #hard-skills .logo-tag .tag-row img {
        height: 80px;
    }
    #hard-skills p.alt {
        margin-top: 90px;
        font-size: 1.5em;
    }
}
@media screen and (min-width: 1200px) {
    #hard-skills .logo-tag {
        margin-top: 60px;
    }
    #hard-skills .text-tag .tag-row p {
    font-size: 2.1em;
    }
    #hard-skills .logo-tag .tag-row img {
        height: 90px;
    }
    #hard-skills p.alt {
        margin-top: 110px;
        font-size: 1.8em;
    }
}