body, header, section, footer,
h1, h2, h3, p, a, ul, li, img {
    word-break: break-word;
    padding: 0;
    margin: 0;
    color: #2c2c2c;
}
.page-content {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 2px;
    margin: auto;
}

.to-next-section {
    margin: 50px 0 25px 0;   
    text-align: center;
}
.to-next-section img {
    height: 25px;
}

h2 {
    margin-top: 20px;
    font-family: 'quicksandregular';
    text-align: center;
    font-size: 1.1em;
}
.svg {
    display: inline-block;
    vertical-align: -0.125em;
}
.svg-dark {
    filter: invert(11%) sepia(5%) saturate(21%) hue-rotate(339deg) brightness(101%) contrast(85%);
}
.svg-light {
    filter: invert(56%) sepia(93%) saturate(1342%) hue-rotate(344deg) brightness(100%) contrast(103%);
}
.svg-secondary {
    filter: invert(47%) sepia(78%) saturate(1986%) hue-rotate(224deg) brightness(89%) contrast(93%);
}
.svg-white {
    filter: invert(96%) sepia(0%) saturate(15%) hue-rotate(337deg) brightness(105%) contrast(104%);
}
@media screen and (min-width: 240px) {
    h2 {
        font-size: 1.3em;
    }
}
@media screen and (min-width: 340px) {
    .page-content {
        padding: 5px 10px;
    }
    .to-next-section img {
        height: 28px;    
    }
    h2 {
        margin-top: 25px;
        font-size: 1.3em;
    }
}
@media screen and (min-width: 600px) {
    .page-content {
        padding: 5px 15px;
    }    
    .to-next-section {
        margin: 60px 0 30px 0;
    }
    .to-next-section img {
        height: 30px;    
    }
    h2 {
        font-size: 1.5em;
    }
}
@media screen and (min-width: 800px) {
    .page-content {
        max-width: 800px;
        padding: 5px 20px;
    }    
    .to-next-section {
        margin: 70px 0 50px 0;
    }
    .to-next-section img {
        height: 35px;    
    }
    h2 {
        padding-left: 40px;
        font-size: 1.7em;
        text-align: start;
    }
}
@media screen and (min-width: 1200px) {
    .page-content {
        max-width: 1200px;
        padding: 5px 15px;
    }    
    .to-next-section {
        margin: 100px 0 70px 0;
    }
    .to-next-section img {
        height: 40px;
    }
    h2 {
        font-size: 2.0em;
    }
}